.date-birthday {
    height: 160px;
    border: 1px, 0px, 1px, 0px;
    border-color: #000000;
    
    }
    
    .date-birthday__tilte {
        color: #000;
        font-family: "Montserrat Alternates";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;  
    }
    
    .date-birthday__box {
        border-radius: 20px;
        width: 215px;
        height: 35px;
        background: #D7D7D7;
        // overflow: hidden;
        display: inline-flex;
        padding: 10px 10px 10px 10px;
        align-items: flex-start;
        gap: 10px;
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    }
    
    