<section class="calculation container">
  <h2 class="calculation__title">Калькулятор</h2>
  <input type="text" placeholder="Введіть число" class="calculation__numbers" />
  <ul class="calculation__list">
    <li class="calculation__item"><button class="calculation__btn">+</button></li>
    <li class="calculation__item"><button class="calculation__btn">*</button></li>
    <li class="calculation__item"><button class="calculation__btn">-</button></li>
    <li class="calculation__item"><button class="calculation__btn">/</button></li>
  </ul>
  <input type="text" , placeholder="Введіть число" class="calculation__numbers" />
  <div class="calculation__box">=</div>
  <p class="calculation__result">Результат</p>
</section>