<section class="choose-number">
<div class="choose-number-container">
<h2 class="choose-number-title">Введіть 3 числа</h2>
<ul class="choose-number-ul">
    <li><input class="choose-number-input" type="text" placeholder="Введіть число"></li>
    <li><input class="choose-number-input" type="text" placeholder="Введіть число"></li>
    <li><input class="choose-number-input" type="text" placeholder="Введіть число"></li>
</ul>
<p class="choose-number-text">Найбільше число, яке ви ввели - </p>
</div>
</section>