<footer class="footer">
    <a href="../index.html" class="footer__logo">
        <img src="" alt="logo" class="logo__img">
    </a>
    <ul class="footer__list">
        <li class="list__item">
            <p class="list__text">Тел:<a href="tel:+381234567890" class="list__link">+38 (123) 456 78 90</a></p>
        </li>
        <li class="list__item">
            <p class="list__text">E-Mail:<a href="mailto:codingmagic@gmail.com" class="list__link">codingmagic@gmail.com</a></p>
        </li>
        <li class="list__item">
            <p class="list__text">Facebook:<a href="#" class="list__link">CodingMagic</a></p>
        </li>
        <li class="list__item">
            <p class="list__text">Twitter:<a href="#" class="list__link">CodingMagic</a></p>
        </li>
        <li class="list__item">
            <p class="list__text">Instagram:<a href="#" class="list__link">CodingMagic</a></p>
        </li>
    </ul>
<div class="footer__box">
    <ul class="box__list">
        <li class="box__item"><input type="gmail" placeholder="Ваша ел. адреса..." class="box__inp"></li>
        <li class="box__item"><button type="submit" class="box__btn">Підписатись</button></li>
    </ul>
    <p class="box__text">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
</div>
</footer>