<section class="modal_name">
  <button type="button" class="modal_name__close"></button>

  <div class="modal_name__text">
    <p class="modal_name__hello">Привіт!</p>
    <p class="modal_name__message">
      Ви потрапили на сайт інтерактивних ігор та завдань<br />
      Надіємось, що вам сподобається і ви отримаєте позитивні емоції!<br />
      Бажаємо Вам гарно провести час!
    </p>
  </div>

  <div class="modal_name__form">
    <label for="username" class="modal_name__label">Введіть своє ім’я:</label>
    <input
      type="text"
      id="username"
      class="modal_name__input"
      placeholder="Ваше ім’я..."
    />
    <button class="modal_name__button">Зберегти</button>
  </div>

  <div class="modal_name__icons">
    <img src="" alt="" class="modal_name__icon" />
    <img src="" alt="" class="modal_name__icon" />
    <img src="" alt="" class="modal_name__icon" />
    <img src="" alt="" class="modal_name__icon" />
  </div>
</section>
