<div class="backdrop">
    <div class="modal">
        <button type="button" class="modal__btn"><img src="" alt="" class="modal__photo"></button>
        <ul class="modal__list">
            <li class="modal__item"><img src="" alt="" class="modal__img"></li>
            <li class="modal__item"><h1 class="modal__titile">Дякую за підписку!</h1></li>
            <li class="modal__item"><img src="" alt="" class="modal__img"></li>
        </ul>
        <ul class="modal__lists">
            <li class="modal__items"><img src="" alt="" class="modal__img"></li>
            <li class="modal__items"><img src="" alt="" class="modal__img"></li>
        </ul>
    </div>
</div>