<section class="our__team container">
  <h2 class="our__team__title">Наша команда</h2>

  <div class="our__team__slider">
    <button class="our__team__arrow our__team__arrow__left"></button>

    <div class="our__team__member">
      <div class="our__team__photo">
        <img
          class="our__team_img"
          src="https://www.imgonline.com.ua/examples/bee-on-daisy.jpg"
          alt=""
        />
      </div>
      <h3 class="our__team__name">Ім’я студента</h3>
      <p class="our__team__description">
        Інформація про роботу, яку він/вона виконав/ла
      </p>
    </div>

    <button class="our__team__arrow our__team__arrow__right"></button>
  </div>

  <div class="our__team__dots">
    <span class="our__team__dot our__team__dot__active"></span>
    <span class="our__team__dot"></span>
    <span class="our__team__dot"></span>
    <span class="our__team__dot"></span>
    <span class="our__team__dot"></span>
  </div>
</section>
