<section class="rsp">
    <div class="container">
        <h2 class="rsp__title">Камінь - ножиці - папір</h2>
        <div class="rsp__box">
            <ul class="rsp__list">
                <li class="rsp__item">
                    <button class="rsp__button stone">
                        <img src="../img/photo/stone.webp" alt="" class="rsp__img">
                    </button>
                </li>
                <li class="rsp__item">
                    <button class="rsp__button scissors">
                        <img src="../img/photo/scissors.webp" alt="" class="rsp__img">
                    </button>
                </li>
                <li class="rsp__item">
                    <button class="rsp__button paper">
                        <img src="../img/photo/paper.webp" alt="" class="rsp__img">
                    </button>
                </li>
            </ul>
            <ul class="rsp__catalog">
                <li class="rsp__product">
                    <p class="rsp__text">Рахунок:</p>
                </li>
                <li class="rsp__product pc">
                    <p class="rsp__text">Комп'ютер - 0</p>
                </li>
                <li class="rsp__product you">
                    <p class="rsp__text">Ви - 0</p>
                </li>
            </ul>
        </div>
        <p class="rsp__result">Ви виграли раунд!</p>
        <button class="rsp__btn">Варіант комп’ютера</button>
        <div class="rsp__line"></div>
        <audio src="../sounds/pop.mp3" class="rsp__audio"></audio>
    </div>
</section>