<section class="scientists tutor">
  <div class="container">
    <h2 class="scientists__title">Обери вченого/их</h2>

    <ul class="scientists__grid">
      <li class="scientists__card"></li>
      <li class="scientists__card"></li>
      <li class="scientists__card"></li>
      <li class="scientists__card"></li>
      <li class="scientists__card"></li>
      <li class="scientists__card"></li>
      <li class="scientists__card"></li>
      <li class="scientists__card"></li>
      <li class="scientists__card"></li>
      <li class="scientists__card"></li>
      <li class="scientists__card"></li>
      <li class="scientists__card"></li>
    </ul>

      <ul class="scientists__tasks">
        <li class="tasks__item">Які вчені народилися в 19 ст.</li>
        <li class="tasks__item">Знайти рік народження Albert Einshtein</li>
        <li class="tasks__item">Відсортувати вчених за алфавітом</li>
        <li class="tasks__item">Знайти вчених, прізвища яких починаються на на літеру “С” </li>
        <li class="tasks__item">Відсортувати вчених за кількістю прожитих років</li>
        <li class="tasks__item">Видалити всіх вчених, ім’я яких починається на “А”</li>
        <li class="tasks__item">Знайти вченого, який народився найпізніше</li>
        <li class="tasks__item">Знайти вченого, який прожив найдовше і вченого, 
який прожив найменше</li>
        <li class="tasks__item">Знайти вчених, в яких співпадають перші літери імені і прізвища</li>
      </ul>
  </div>
</section>