<section class="scientists">
  <div class="container">
  <div class="container section-box">
    <h2 class="scientists__title">Обери вченого/их</h2>

    <ul class="scientists__grid">
      <li class="scientists__card"></li>
      <li class="scientists__card"></li>
      <li class="scientists__card"></li>
      <li class="scientists__card"></li>
      <li class="scientists__card"></li>
      <li class="scientists__card"></li>
      <li class="scientists__card"></li>
      <li class="scientists__card"></li>
      <li class="scientists__card"></li>
      <li class="scientists__card"></li>
      <li class="scientists__card"></li>
      <li class="scientists__card"></li>
    </ul>

      <div class="scientists__tasks">
        <button class="tasks__item">Які вчені народилися в 19 ст.</button>
        <button class="tasks__item">Знайти рік народження Albert Einshtein</button>
        <button class="tasks__item">Відсортувати вчених за алфавітом</button>
        <button class="tasks__item">Знайти вчених, прізвища яких починаються на на літеру “С” </button>
        <button class="tasks__item">Відсортувати вчених за кількістю прожитих років</button>
        <button class="tasks__item">Видалити всіх вчених, ім’я яких починається на “А”</button>
        <button class="tasks__item">Знайти вченого, який народився найпізніше</button>
        <button class="tasks__item">Знайти вченого, який прожив найдовше і вченого, 
який прожив найменше</button>
        <button class="tasks__item">Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
      </div>
  </div>
</section>